@model IEnumerable<Clinic_Management_System.Lecture>

@{
    ViewBag.Title = "Lecture_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Lecture_List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subject)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date_Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Education.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Staff.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Subject)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date_Time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Education.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Staff.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
