@model IEnumerable<Clinic_Management_System.Sale>

@{
    ViewBag.Title = "Sales_List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sales_List</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Unit_Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bill)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Invoice.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Product.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Quantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit_Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bill)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Invoice.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Product.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
